body{
    background-color: rgb(34, 36, 83);
}
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(207, 246, 243);
  border-radius: 5px;
}

h2, p {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  display: ;
  margin-right: 5px;
}

input[type="submit"], input[type="reset"] {
  width: auto;
  padding: 8px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
img{
  max-width: 100%;
  max-height: 100%;
}